include LICENSE
include README.md
include requirements.txt
include run
include addalias.sh
recursive-include arsenal/data/cheats *!
recursive-exclude .obsidian *
recursive-exclude mindmap *
recursive-exclude my_cheats *.md
recursive-exclude cheats/.obsidian *
recursive-exclude arsenal.egg-info *
